<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="/charts/js/sockjs-0.3.4.js"></script>
    <script src="/charts/js/stomp.js"></script>
    <!--script src="/charts/js/linechart.js"></script-->
</head>
<body>
<section layout:fragment="header">
    <h1>
        Приборная панель
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<div layout:fragment="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerQt1" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartQt1" style="position: relative; height: 400px;"></div>
                </div>
            </div>

            <!-- /.nav-tabs-custom -->

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerQt2" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartQt2" style="position: relative; height: 400px;"></div>
                </div>
            </div>


        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerQt3" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartQt3" style="position: relative; height: 400px;"></div>
                </div>
            </div>

            <!-- /.nav-tabs-custom -->

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerQt4" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartQt4" style="position: relative; height: 400px;"></div>
                </div>
            </div>


        </section>
        <!-- right col -->
    </div>


    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerdQt1" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartdQt1" style="position: relative; height: 400px;"></div>
                </div>
            </div>

            <!-- /.nav-tabs-custom -->

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerdQt3" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartdQt3" style="position: relative; height: 400px;"></div>
                </div>
            </div>


        </section>
        <!-- right col -->
    </div>

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerWt1" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartWt1" style="position: relative; height: 400px;"></div>
                </div>
            </div>


        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerWt3" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartWt3" style="position: relative; height: 400px;"></div>
                </div>
            </div>

            <!-- /.nav-tabs-custom -->

        </section>
        <!-- right col -->
    </div>


    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <div id="containerWt4" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div-->
                    <div class="chart tab-pane" id="sales-chartWt4" style="position: relative; height: 400px;"></div>
                </div>
            </div>


        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

            <div class="nav-tabs-custom">
                <!--ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#line-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul-->
                <div class="tab-content no-padding">
                    <!--div id="containerWt4" class="chart tab-pane active" style="position: relative; height: 400px;"></div>
                    <div class="chart tab-pane" id="sales-chartWt4" style="position: relative; height: 400px;"></div-->
                </div>
            </div>


        </section>
        <!-- right col -->
    </div>


    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var sissionId = (function guid() {
                    function s4() {
                        return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                    }
                    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
                })();


                var socket = new SockJS('/charts/stomp');
                var stompClient = Stomp.over(socket);
                var newValueQt1;
                var newValueQt2;
                var newValueQt3;
                var newValueQt4;
                var newValuedQt1;
                var newValuedQt3;
                var newValueWt1;
                var newValueWt3;
                var newValueWt4;
                var messageQt1;
                var messageQt2;
                var messageQt3;
                var messageQt4;
                var messagedQt1;
                var messagedQt3;
                var messageWt1;
                var messageWt3;
                var messageWt4;
                var respSessionIdQt1;
                var respSessionIdQt2;
                var respSessionIdQt3;
                var respSessionIdQt4;
                var respSessionIddQt1;
                var respSessionIddQt3;
                var respSessionIdWt1;
                var respSessionIdWt3;
                var respSessionIdWt4;

                stompClient.connect({ }, function(frame) {
                    // subscribe to the /topic/messageQt1 endpoint
                    stompClient.subscribe("/topic/airquality/temperatureQt1", function(data) {
                        //alert("new value from server = "+data.body);
                        messageQt1 = data.body;
                        respSessionIdQt1 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdQt1!=null){
                            if (respSessionIdQt1==sissionId) {
                                newValueQt1 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueQt1 = parseFloat(messageQt1);
                        }
                        console.log("sessionId = "+respSessionIdQt1);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageQt1);
                        //newValueQt1 = parseFloat(messageQt1);
                        console.log("newValueQt1 = "+newValueQt1);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureQt2", function(data) {
                        //alert("new value from server = "+data.body);
                        messageQt2 = data.body;
                        respSessionIdQt2 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdQt2!=null){
                            if (respSessionIdQt2==sissionId) {
                                newValueQt2 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueQt2 = parseFloat(messageQt2);
                        }
                        console.log("sessionId = "+respSessionIdQt2);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageQt1);
                        //newValueQt1 = parseFloat(messageQt1);
                        console.log("newValueQt1 = "+newValueQt2);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureQt3", function(data) {
                        //alert("new value from server = "+data.body);
                        messageQt3 = data.body;
                        respSessionIdQt3 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdQt3!=null){
                            if (respSessionIdQt3==sissionId) {
                                newValueQt3 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueQt3 = parseFloat(messageQt3);
                        }
                        console.log("sessionId = "+respSessionIdQt3);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageQt3);
                        //newValueQt1 = parseFloat(messageQt1);
                        console.log("newValueQt3 = "+newValueQt3);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureQt4", function(data) {
                        //alert("new value from server = "+data.body);
                        messageQt4 = data.body;
                        respSessionIdQt4 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdQt4!=null){
                            if (respSessionIdQt4==sissionId) {
                                newValueQt4 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueQt4 = parseFloat(messageQt4);
                        }
                        console.log("sessionId = "+respSessionIdQt4);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageQt4);
                        //newValueQt1 = parseFloat(messageQt1);
                        console.log("newValueQt4 = "+newValueQt4);
                    });

                    stompClient.subscribe("/topic/airquality/temperaturedQt1", function(data) {
                        //alert("new value from server = "+data.body);
                        messagedQt1 = data.body;
                        respSessionIddQt1 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIddQt1!=null){
                            if (respSessionIddQt1==sissionId) {
                                newValuedQt1 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValuedQt1 = parseFloat(messagedQt1);
                        }
                        console.log("sessionId = "+respSessionIddQt1);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messagedQt1);
                        //newValueQt1 = parseFloat(messageQt1);
                        console.log("newValuedQt1 = "+newValuedQt1);
                    });

                    stompClient.subscribe("/topic/airquality/temperaturedQt3", function(data) {
                        //alert("new value from server = "+data.body);
                        messagedQt3 = data.body;
                        respSessionIddQt3 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIddQt3!=null){
                            if (respSessionIddQt3==sissionId) {
                                newValuedQt3 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValuedQt3 = parseFloat(messagedQt3);
                        }
                        console.log("sessionId = "+respSessionIddQt3);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messagedQt3);
                        //newValuedQt3 = parseFloat(messagedQt3);
                        console.log("newValuedQt3 = "+newValuedQt3);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureWt1", function(data) {
                        //alert("new value from server = "+data.body);
                        messageWt1 = data.body;
                        respSessionIdWt1 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdWt1!=null){
                            if (respSessionIdWt1==sissionId) {
                                newValueWt1 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueWt1 = parseFloat(messageWt1);
                        }
                        console.log("sessionId = "+respSessionIdWt1);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageWt1);
                        //newValueWt1 = parseFloat(messageWt1);
                        console.log("newValueWt1 = "+newValueWt1);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureWt3", function(data) {
                        //alert("new value from server = "+data.body);
                        messageWt3 = data.body;
                        respSessionIdWt3 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdWt3!=null){
                            if (respSessionIdWt3==sissionId) {
                                newValueWt3 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueWt3 = parseFloat(messageWt3);
                        }
                        console.log("sessionId = "+respSessionIdWt3);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageWt3);
                        //newValueWt3 = parseFloat(messageWt3);
                        console.log("newValueWt3 = "+newValueWt3);
                    });

                    stompClient.subscribe("/topic/airquality/temperatureWt4", function(data) {
                        //alert("new value from server = "+data.body);
                        messageWt4 = data.body;
                        respSessionIdWt4 = JSON.parse(data.body)["sessionId"];
                        if (respSessionIdWt4!=null){
                            if (respSessionIdWt4==sissionId) {
                                newValueWt4 = parseFloat(JSON.parse(data.body)["value"]);
                            }
                        }else{
                            newValueWt4 = parseFloat(messageWt4);
                        }
                        console.log("sessionId = "+respSessionIdWt4);
                        console.log("sissionId = "+sissionId);
                        console.log("data = "+messageWt4);
                        //newValueWt4 = parseFloat(messageWt4);
                        console.log("newValueWt4 = "+newValueWt4);
                    });

                });

                Highcharts.chart('containerQt1', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueQt1;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Qt1'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueQt1//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });

                Highcharts.chart('containerQt2', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueQt2;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Qt2'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueQt2//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });

                Highcharts.chart('containerQt3', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueQt3;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Qt3'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueQt3//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                Highcharts.chart('containerQt4', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueQt4;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Qt4'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueQt4//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                Highcharts.chart('containerdQt1', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValuedQt1;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'dQt1'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValuedQt1//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });

                Highcharts.chart('containerdQt3', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValuedQt3;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'dQt3'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValuedQt3//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                Highcharts.chart('containerWt1', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueWt1;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Wt1'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueWt1//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                Highcharts.chart('containerWt3', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueWt3;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Wt3'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueWt3//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                Highcharts.chart('containerWt4', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueWt4;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },
                    title: {
                        text: 'Wt4'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#191970'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Temperature Data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 2000,
                                    y: newValueWt4//Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });


                /*
                var gaugeOptions = {

                    chart: {
                        type: 'solidgauge'
                    },

                    title: null,

                    pane: {
                        center: ['50%', '85%'],
                        size: '140%',
                        startAngle: -90,
                        endAngle: 90,
                        background: {
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                            innerRadius: '60%',
                            outerRadius: '100%',
                            shape: 'arc'
                        }
                    },

                    tooltip: {
                        enabled: false
                    },

                    // the value axis
                    yAxis: {
                        stops: [
                            [0.1, '#55BF3B'], // green
                            [0.5, '#DDDF0D'], // yellow
                            [0.9, '#DF5353'] // red
                        ],
                        lineWidth: 0,
                        minorTickInterval: null,
                        tickAmount: 2,
                        title: {
                            y: -70
                        },
                        labels: {
                            y: 16
                        }
                    },

                    plotOptions: {
                        solidgauge: {
                            dataLabels: {
                                y: 5,
                                borderWidth: 0,
                                useHTML: true
                            }
                        }
                    }
                };



                // The speed gauge
                Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {

                    chart: {
                        events: {
                            load: function () {
                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                        y = newValueQt1;//Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 2000);
                            }
                        }
                    },

                    yAxis: {
                        min: 0,
                        max: 200,
                        title: {
                            text: 'Thepmerature'
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: 'Thepmerature',
                        data: [0],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver">C</span></div>'
                        },
                        tooltip: {
                            valueSuffix: 'C'
                        }
                    }]

                }));
                */

                var item = {"id": "33","value": "24", "sessionId" : sissionId }
                $.ajax({
                    //url: "http://188.17.159.229:8080/charts/sensors/thermoinit",
                    url: "http://"+location.href.split('/')[2]+"/charts/sensors/thermoinit",
                    //url: "http://localhost:8080/charts/sensors/thermoinit",
                    data: JSON.stringify(item), //{action:'x',params:['a','b','c']}
                    type: 'POST',
                    processData: false,
                    contentType: 'application/json',
                    success: function(data) {
                        console.log('hello');
                    },
                    error: function() {
                        console.log('error');
                    }
                });
            });
        });
        //]]>
    </script>
</div>
</body>
</html>